:root {
  --bg-gray-900: #1d2026;
  --bg-gray-800: #363b47;
  --gray-700: #4e5566;
  --gray-600: #6e7485;
  --gray-500: #8c94a3;
  --gray-400: #a1a5b3;
  --gray-300: #b7bac7;
  --gray-200: #ced1d9;
  --gray-100: #e9eaf0;
  --gray-50: #f5f7fa;
  --gray-00: #ffffff;
  --orange-900: #33140b;
  --orange-800: #662916;
  --orange-700: #993d20;
  --orange-600: #cc522b;
  --orange-500: #ff6636;
  --orange-400: #ff855e;
  --orange-300: #ffa386;
  --orange-200: #ffddd1;
  --orange-100: #ffeee8;
  --blue-900: #111033;
  --blue-800: #222065;
  --blue-700: #342f98;
  --blue-600: #453fca;
  --blue-500: #564ffd;
  --blue-400: #7872fd;
  --blue-300: #9a95fe;
  --blue-200: #cdcbfe;
  --blue-100: #ebebff;
  --green-900: #07260a;
  --green-800: #0e4c14;
  --green-700: #15711f;
  --green-600: #1c9729;
  --green-500: #23bd33;
  --green-400: #4fca5c;
  --green-300: #7bd785;
  --green-200: #c3e5c6;
  --green-100: #e1f7e3;
  --warning-900: #331d06;
  --warning-800: #65390c;
  --warning-700: #985613;
  --warning-600: #cc7319;
  --warning-500: #fd8e1f;
  --warning-400: #fda44c;
  --warning-300: #febb79;
  --warning-200: #fed1a5;
  --warning-100: #fff2e5;
  --danger-900: #2d0e0e;
  --danger-800: #5b1b1b;
  --danger-700: #882929;
  --danger-600: #b63636;
  --danger-500: #e34444;
  --danger-400: #e96969;
  --danger-300: #ee8f8f;
  --danger-200: #f4c8c8;
  --danger-100: #fff0f0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Upper part of nav */
.nav .upper {
  height: 52px;
  width: 100%;
  background-color: var(--bg-gray-900);
}

.nav .upper .left .nav-item li a {
  text-decoration: none;
  color: var(--gray-500);
}

.nav .upper .left .nav-item li .active {
  color: var(--gray-00);
}

.nav .upper .left .nav-item .indicator::before {
  content: "";
  position: absolute;
  left: 57px;
  width: 71px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--danger-500);
}

.transparent {
  appearance: none;
  background: transparent;
  background-image: url(./../asset/images/ChevronDown.svg);
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the icon */
  padding-right: 40px; /* Space for the icon */
  border: none;
  color: var(--gray-500);
}

/* Lower part of nav */

.lower {
  background-color: var(--gray-00);
  height: 96px;
  width: 100%;
  padding: 24px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.lower .logo {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.lower .logo img {
  margin: 4px;
}

.lower .logo .brand-name {
  font-weight: 600;
  font-size: 26px;
}

.lower .browse-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  margin-right: 210px;
}

.lower .browse-search .browse {
  font-size: 18px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  width: 200px;
  height: 48px;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
}

.lower .browse-search .browse .transparent {
  padding-right: 110px; /* Space for the icon */
}

.lower .browse-search .search-div {
  width: 424px;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
}

.lower .browse-search .search-div input {
  width: 100%;
  border: none;
}

.lower .browse-search .search-div img {
  font-size: 18px;
  margin: 10px;
  margin-left: 20px;
}

.lower .notification {
  width: 424px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  align-items: center;
}

.lower .notification .btns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.lower .notification .create-acc-btn {
  border: none;
  font-size: 16px;
  background: transparent;
  width: 168px;
  height: 48px;
  background-color: var(--warning-100);
  color: var(--orange-500);
  font-weight: 600;
}

.lower .notification .sign-btn {
  border: none;
  font-size: 16px;
  background: transparent;
  width: 100px;
  height: 48px;
  font-weight: 600;
  color: var(--gray-00);
  background-color: var(--orange-500);
}

/* hero-first */

.hero-section .hero-1 {
  height: 548px;
  display: flex;
}

.hero-section .hero-1 .hero-1-img img {
  height: 548px;
}

.hero-section .hero-1 .hero-1-text {
  width: 658px;
  height: 348px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 20px;
}

.hero-section .hero-1 .hero-1-text h1 {
  font-weight: 650;
  color: var(--bg-gray-900);
  margin-bottom: 40px;
}

.hero-section .hero-1 .hero-1-text p {
  color: var(--gray-700);
  margin-bottom: 40px;
}

.hero-section .hero-1 .hero-1-text .create-acc-btn {
  border: none;
  font-size: 16px;
  background: transparent;
  width: 168px;
  height: 48px;
  background-color: var(--orange-500);
  color: var(--gray-00);
  font-weight: 600;
}

.hero-section .hero-2 {
  height: 680px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}

.hero-section .hero-2 .heading {
  position: relative;
  top: 65px;
}

.hero-section .hero-2 .container {
  width: 1320px;
  height: 360px;
  margin-top: 120px;
  margin-right: 99px;
  margin-left: 99px;
  display: grid;
  grid-template-columns: 312px 312px 312px 312px;
  grid-template-rows: 104px 104px 104px;
  gap: 24px;
}

.hero-section .hero-2 .container .item {
  width: 312px;
  height: 104px;
  padding: 20px;
  display: flex;
}

.hero-section .hero-2 .container .item img {
  margin-right: 20px;
}

.hero-section .hero-2 .container .item .text-info {
  height: 52px;
  width: 188px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-section .hero-2 .container .item .text-info .title {
  align-items: start;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  color: var(--bg-gray-900);
}

.hero-section .hero-2 .container .item .text-info .sub-title {
  align-items: start;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-600);
}

.hero-section .hero-2 .browse-more {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.hero-section .hero-2 .browse-more p {
  color: var(--gray-700);
  font-size: 18px;
  margin: 5px;
}

.hero-section .hero-2 .browse-more span {
  font-size: 18px;
  font-weight: 500;
  color: var(--orange-500);
  margin: 5px;
}

.hero-section .hero-2 .container .item:nth-child(1) {
  background-color: var(--blue-100);
}
.hero-section .hero-2 .container .item:nth-child(2) {
  background-color: var(--green-100);
}
.hero-section .hero-2 .container .item:nth-child(3) {
  background-color: var(--warning-100);
}
.hero-section .hero-2 .container .item:nth-child(4) {
  background-color: var(--danger-100);
}
.hero-section .hero-2 .container .item:nth-child(5) {
  background-color: var(--gray-00);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.hero-section .hero-2 .container .item:nth-child(6) {
  background-color: var(--gray-50);
}
.hero-section .hero-2 .container .item:nth-child(7) {
  background-color: var(--blue-100);
}
.hero-section .hero-2 .container .item:nth-child(8) {
  background-color: var(--gray-50);
}
.hero-section .hero-2 .container .item:nth-child(9) {
  background-color: var(--warning-100);
}
.hero-section .hero-2 .container .item:nth-child(10) {
  background-color: var(--danger-100);
}
.hero-section .hero-2 .container .item:nth-child(11) {
  background-color: var(--green-100);
}
.hero-section .hero-2 .container .item:nth-child(12) {
  background-color: var(--warning-100);
}

/* hero-3 */
.hero-section .hero-3 {
  height: 1179px;
  position: static;
  background-color: var(--gray-50);
}

.hero-section .hero-3 .best-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-3 .best-courses h2 {
  position: relative;
  top: 65px;
  height: 48px;
  font-size: 44px;
  font-weight: 650;
  align-items: center;
}

.hero-section .hero-3 .best-courses .best-course-container {
  margin-top: 120px;
  height: 691px;
  width: 1320px;
}

.hero-section .hero-3 .best-courses .best-course-container {
  width: 244px;
  height: 333px;
}
