:root {
  --gray-900: #1d2026;
  --gray-800: #363b47;
  --gray-700: #4e5566;
  --gray-600: #6e7485;
  --gray-500: #8c94a3;
  --gray-400: #a1a5b3;
  --gray-300: #b7bac7;
  --gray-200: #ced1d9;
  --gray-100: #e9eaf0;
  --gray-50: #f5f7fa;
  --gray-00: #ffffff;
  --orange-900: #33140b;
  --orange-800: #662916;
  --orange-700: #993d20;
  --orange-600: #cc522b;
  --orange-500: #ff6636;
  --orange-400: #ff855e;
  --orange-300: #ffa386;
  --orange-200: #ffddd1;
  --orange-100: #ffeee8;
  --blue-900: #111033;
  --blue-800: #222065;
  --blue-700: #342f98;
  --blue-600: #453fca;
  --blue-500: #564ffd;
  --blue-400: #7872fd;
  --blue-300: #9a95fe;
  --blue-200: #cdcbfe;
  --blue-100: #ebebff;
  --green-900: #07260a;
  --green-800: #0e4c14;
  --green-700: #15711f;
  --green-600: #1c9729;
  --green-500: #23bd33;
  --green-400: #4fca5c;
  --green-300: #7bd785;
  --green-200: #c3e5c6;
  --green-100: #e1f7e3;
  --warning-900: #331d06;
  --warning-800: #65390c;
  --warning-700: #985613;
  --warning-600: #cc7319;
  --warning-500: #fd8e1f;
  --warning-400: #fda44c;
  --warning-300: #febb79;
  --warning-200: #fed1a5;
  --warning-100: #fff2e5;
  --danger-900: #2d0e0e;
  --danger-800: #5b1b1b;
  --danger-700: #882929;
  --danger-600: #b63636;
  --danger-500: #e34444;
  --danger-400: #e96969;
  --danger-300: #ee8f8f;
  --danger-200: #f4c8c8;
  --danger-100: #fff0f0;
}

:root {
  --design-color: #ffeee8;
  --music-color: #fff2e5;
  --business-color: #e1f7e3;
  --health-fitness-color: #e1f7e3;
  --lifestyle-color: #fff2e5;
  --marketing-color: #ebebff;
  --development-color: #ebebff;
  --it-software-color: #fff0f0;
  --productivity-color: #f5f7fa;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: var(--gray-900);
  text-decoration: none;
  box-sizing: border-box;
}

/* Upper part of nav */
.nav .upper {
  height: 52px;
  width: 100%;
  background-color: var(--gray-900);
}

.nav .upper .left .nav-item li a {
  text-decoration: none;
  color: var(--gray-500);
}

.nav .upper .left .nav-item li .active {
  color: var(--gray-00);
}

.nav .upper .left .nav-item .indicator::before {
  content: "";
  position: absolute;
  left: 57px;
  width: 71px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--danger-500);
}

.transparent {
  appearance: none;
  background: transparent;
  background-image: url(./../asset/images/ChevronDown.svg);
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the icon */
  padding-right: 40px; /* Space for the icon */
  border: none;
  color: var(--gray-500);
}

/* Lower part of nav */

.lower {
  background-color: var(--gray-00);
  height: 96px;
  width: 100%;
  padding: 24px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.lower .logo {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.lower .logo img {
  margin: 4px;
}

.lower .logo .brand-name {
  font-weight: 600;
  font-size: 26px;
}

.lower .browse-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  margin-right: 210px;
}

.lower .browse-search .browse {
  font-size: 18px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  width: 200px;
  height: 48px;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
}

.lower .browse-search .browse .transparent {
  padding-right: 110px; /* Space for the icon */
}

.lower .browse-search .search-div {
  width: 424px;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
}

.lower .browse-search .search-div input {
  width: 100%;
  border: none;
}

.lower .browse-search .search-div img {
  font-size: 18px;
  margin: 10px;
  margin-left: 20px;
}

.lower .notification {
  width: 424px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 20px;
  align-items: center;
}

.lower .notification .btns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.lower .notification .create-acc-btn {
  border: none;
  font-size: 16px;
  background: transparent;
  width: 168px;
  height: 48px;
  background-color: var(--warning-100);
  color: var(--orange-500);
  font-weight: 600;
}

.lower .notification .sign-btn {
  border: none;
  font-size: 16px;
  background: transparent;
  width: 100px;
  height: 48px;
  font-weight: 600;
  color: var(--gray-00);
  background-color: var(--orange-500);
}

/* hero-first */

.hero-section .hero-1 {
  height: 548px;
  display: flex;
}

.hero-section .hero-1 .hero-1-img img {
  height: 548px;
}

.hero-section .hero-1 .hero-1-text {
  width: 658px;
  height: 348px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 20px;
}

.hero-section .hero-1 .hero-1-text h1 {
  font-weight: 650;
  color: var(--gray-900);
  margin-bottom: 40px;
}

.hero-section .hero-1 .hero-1-text p {
  color: var(--gray-700);
  margin-bottom: 40px;
}

.hero-section .hero-1 .hero-1-text .create-acc-btn {
  border: none;
  font-size: 16px;
  background: transparent;
  width: 168px;
  height: 48px;
  background-color: var(--orange-500);
  color: var(--gray-00);
  font-weight: 600;
}

.hero-section .hero-2 {
  height: 680px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
}

.hero-section .hero-2 .heading {
  position: relative;
  top: 65px;
}

.hero-section .hero-2 .container {
  width: 1320px;
  height: 360px;
  margin-top: 120px;
  margin-right: 99px;
  margin-left: 99px;
  display: grid;
  grid-template-columns: 312px 312px 312px 312px;
  grid-template-rows: 104px 104px 104px;
  gap: 24px;
}

.hero-section .hero-2 .container .item {
  width: 312px;
  height: 104px;
  padding: 20px;
  display: flex;
}

.hero-section .hero-2 .container .item img {
  margin-right: 20px;
}

.hero-section .hero-2 .container .item .text-info {
  height: 52px;
  width: 188px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-section .hero-2 .container .item .text-info .title {
  align-items: start;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
}

.hero-section .hero-2 .container .item .text-info .sub-title {
  align-items: start;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-600);
}

.hero-section .hero-2 .browse-more {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.hero-section .hero-2 .browse-more p {
  color: var(--gray-700);
  font-size: 18px;
  margin: 5px;
}

.hero-section .hero-2 .browse-more span {
  font-size: 18px;
  font-weight: 500;
  color: var(--orange-500);
  margin: 5px;
}

.hero-section .hero-2 .browse-more a {
  text-decoration: none;
  transform: translateY(6px);
}

.hero-section .hero-2 .container .item:nth-child(1) {
  background-color: var(--blue-100);
}
.hero-section .hero-2 .container .item:nth-child(2) {
  background-color: var(--green-100);
}
.hero-section .hero-2 .container .item:nth-child(3) {
  background-color: var(--warning-100);
}
.hero-section .hero-2 .container .item:nth-child(4) {
  background-color: var(--danger-100);
}
.hero-section .hero-2 .container .item:nth-child(5) {
  background-color: var(--gray-00);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.hero-section .hero-2 .container .item:nth-child(6) {
  background-color: var(--gray-50);
}
.hero-section .hero-2 .container .item:nth-child(7) {
  background-color: var(--blue-100);
}
.hero-section .hero-2 .container .item:nth-child(8) {
  background-color: var(--gray-50);
}
.hero-section .hero-2 .container .item:nth-child(9) {
  background-color: var(--warning-100);
}
.hero-section .hero-2 .container .item:nth-child(10) {
  background-color: var(--danger-100);
}
.hero-section .hero-2 .container .item:nth-child(11) {
  background-color: var(--green-100);
}
.hero-section .hero-2 .container .item:nth-child(12) {
  background-color: var(--warning-100);
}

/* hero-3 */
.hero-section .hero-3 {
  height: 1179px;
  position: static;
  background-color: var(--gray-50);
}

.hero-section .hero-3 .best-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.hero-section .hero-3 .best-courses h2 {
  position: relative;
  top: 65px;
  height: 48px;
  font-size: 44px;
  font-weight: 650;
  align-items: center;
}

.hero-section .hero-3 .best-courses .best-course-container {
  display: grid;
  grid-template-columns: 244px 244px 244px 244px 244px;
  gap: 25px;
  margin-top: 120px;
  height: 691px;
  width: 1320px;
  margin-left: 40px;
}

.hero-section .hero-3 .best-courses .best-course-container .course-item {
  width: 244px;
  height: 333px;
  background-color: var(--gray-00);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .discription {
  margin-top: 14px;
  font-size: 16px;
  height: 72px;
  display: flex;
  flex-direction: column;
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .discription
  .cat-cost {
  display: flex;
  justify-content: space-between;
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .discription
  .cat-cost
  .cat,
.cat {
  width: auto;
  padding: 5px;
  height: 20px;
  background-color: var(--orange-100);
  border-radius: 3px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .discription
  .cat-cost
  .cost {
  height: 22px;
  width: 30px;
  font-weight: 500;
  font-size: 14px;
  color: var(--orange-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .discription
  p {
  margin-top: 8px;
  font-size: 14px;
  color: var(--gray-900);
  font-weight: 500;
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .indicator-line,
.indicator-line {
  content: " ";
  width: 100%;
  height: 1px;
  transform: translateY(10px);
  background-color: var(--gray-100);
  border-radius: 4px;
}

.hero-section
  .hero-3
  .best-courses
  .best-course-container
  .course-item
  .rating-std-number,
.rating-std-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  margin-top: 20px;
  color: var(--gray-700);
  font-weight: 500;
  font-size: 14px;
}

.rating-std-number .std-number span:nth-child(2) {
  color: var(--gray-500);
}

.hero-section .hero-3 .feat-courses {
  width: 1380px;
  height: 650px;
  padding: 0px 80px;
  margin: 0 0 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  transform: translateY(60px);
  background-color: var(--gray-00);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.hero-section .hero-3 .feat-courses .feat-head {
  width: 1290px;
  height: 48px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.hero-section .hero-3 .feat-courses .feat-head p {
  width: 424px;
  text-align: start;
  margin-top: 12px;
  font-size: 14px;
}

.hero-section .hero-3 .feat-courses .course-container {
  width: 1300px;
  height: 402px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 648px 648px;
  gap: 18px;
  transform: translateX(-10px);
}

.hero-section .hero-3 .feat-courses .course-container .f-course {
  width: 648px;
  height: 188px;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details {
  display: flex;
  width: 487px;
  flex-direction: column;
  padding: 14px 0;
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  .cat-cost {
  height: 24px;
  margin-bottom: 10px;
  padding: 0 16px;
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  .cat-cost
  .cat {
  font-size: 14px;
  width: auto;
  height: auto;
  border-radius: 2px;
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  .cat-cost
  span {
  font-size: 16px;
  color: var(--gray-900);
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  p {
  color: var(--gray-900);
  font-weight: 500;
  font-size: 16px;
  padding: 0 16px;
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  .user-rating {
  display: flex;
  font-size: 14px;
  margin-bottom: 8px;
  padding: 0 16px;
  color: var(--gray-900);
  justify-content: space-between;
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  .indicator {
  content: " ";
  width: 100%;
  height: 1px;
  transform: translateY(10px);
  background-color: var(--gray-400);
  border-radius: 4px;
  margin-bottom: 22px;
}

.hero-section
  .hero-3
  .feat-courses
  .course-container
  .f-course
  .course-details
  .std-type-duration,
.std-type-duration {
  display: flex;
  padding: 0 16px;
  font-size: 14px;
  justify-content: space-between;
  align-items: end;
  color: var(--gray-900);
}

/* started hero-4 */

.hero-section .hero-4 {
  margin-top: 500px;
  height: 724px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-section .hero-4 .recent-courses {
  width: 1320px;
  height: 380px;
  display: grid;
  grid-template-columns: 312px 312px 312px 312px;
  gap: 24px;
  margin: 40px;
}

.hero-section .hero-4 .recent-courses .course-item {
  width: 312px;
  height: 388px;
  background-color: var(--gray-00);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.hero-section .hero-4 .development-course-details {
  height: 670px;
  width: 420px;
  padding: 20px;
  position: absolute;
  right: 20px;
  z-index: 10;
  background-color: var(--gray-00);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-section .hero-4 .development-course-details .contents {
  display: flex;
  flex-direction: column;
  height: 608px;
  width: 400;
}

.hero-section .hero-4 .development-course-details .contents .info {
  display: flex;
  flex-direction: column;
}

.hero-section .hero-4 .development-course-details .contents .info .cat-title {
  display: flex;
  flex-direction: column;
  height: 78px;
  width: 384px;
  margin-bottom: 16px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .info
  .cat-title
  .cat {
  margin-left: 5px;
  width: 85px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .info
  .cat-title
  span:nth-child(2) {
  padding: 0 5px;
  font-size: 18px;
  font-weight: 500;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .info
  .course-instructor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .info
  .course-instructor
  .info {
  margin-right: 120px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .info
  .course-instructor
  .info
  span:nth-child(1),
.rating span:nth-child(3) {
  color: var(--gray-400);
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .info
  .course-instructor
  .info
  span:nth-child(2) {
  font-weight: 500;
}

.hero-section .hero-4 .development-course-details .contents .price-descreption {
  width: 384px;
  height: 48px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .price-descreption
  .price {
  display: flex;
  align-items: center;
  height: 32px;
  width: 231px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .price-descreption
  .price
  span:nth-child(1) {
  font-size: 24px;
  margin-right: 5px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .price-descreption
  .price
  span:nth-child(2) {
  color: var(--gray-500);
  margin-right: 5px;
  text-decoration: line-through;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .price-descreption
  .price
  span:nth-child(3) {
  width: 85px;
  height: 30px;
  padding-top: 2px;
  margin-left: 5px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--orange-500);
  background-color: var(--orange-100);
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .price-descreption
  .heart {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-100);
}

.hero-section .hero-4 .development-course-details .contents .summary {
  margin-top: 24px;
  margin-bottom: 50px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-section .hero-4 .development-course-details .contents .summary .heading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.hero-section .hero-4 .development-course-details .contents .summary .point {
  display: flex;
  justify-content: space-between;
}

.hero-section .hero-4 .development-course-details .contents .summary .point p {
  color: var(--gray-600);
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .summary
  .point
  img {
  margin: 0px 10px 40px 10px;
}

.hero-section .hero-4 .development-course-details .contents .btns {
  margin-top: 20px;
  width: 379px;
  height: 108px;
  display: flex;
  flex-direction: column;
}

.hero-section .hero-4 .development-course-details .contents .btns .add-to-cart {
  background-color: var(--orange-500);
  color: var(--gray-00);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  height: 48px;
}

.hero-section
  .hero-4
  .development-course-details
  .contents
  .btns
  .course-details {
  background-color: var(--orange-100);
  color: var(--orange-500);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}

.hero-section .hero-4 .recent-courses .course-item .discription {
  margin-top: 8px;
  font-size: 14px;
  color: var(--gray-900);
  font-weight: 500;
}

.hero-section .hero-4 .recent-courses .course-item .discription .cat-cost {
  display: flex;
  justify-content: space-between;
}

.hero-section .hero-4 button {
  border: none;
  background-color: var(--orange-100);
  width: 224px;
  height: 48px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  color: var(--orange-500);
}

.hero-section .hero-5 {
  height: 671px;
  background-color: var(--gray-100);
}

.hero-section .hero-5 .upper-section {
  display: flex;
  position: absolute;
  margin: 80px 100px 300px 100px;
}

.hero-section .hero-5 .upper-section .become-instructor {
  width: 648px;
  height: 270px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

.hero-section .hero-5 .upper-section .become-instructor .information {
  margin-top: 30px;
  color: var(--gray-00);
  margin: 30px;
}

.hero-section .hero-5 .upper-section .become-instructor .information p {
  font-size: 14px;
  color: var(--gray-00);
  width: 311px;
  height: 66px;
}

.hero-section .hero-5 .upper-section .become-instructor button {
  width: 196px;
  height: 48px;
  margin: 0 0 30px 30px;
  border: none;
  background-color: var(--gray-00);
  color: var(--orange-500);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}

.hero-section .hero-5 .upper-section .teaching-steps {
  width: 648px;
  height: 270px;
  padding: 40px;
  background-color: var(--gray-00);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-section .hero-5 .upper-section .teaching-steps .steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero-section .hero-5 .upper-section .teaching-steps .steps .step {
  display: flex;
  align-items: center;
}

.hero-section .hero-5 .upper-section .teaching-steps .steps .step .step-count {
  height: 52px;
  width: 52px;
  margin-right: 5px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--blue-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-5 .lower-section {
  transform: translateY(400px);
  width: 1380px;
  margin-left: 70px;
  height: 682px;
  background-color: var(--gray-00);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.hero-section .hero-5 .lower-section h2 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.hero-section .hero-5 .lower-section .top-instructors {
  display: grid;
  grid-template-columns: 244px 244px 244px 244px 244px;
  gap: 25px;
  margin-bottom: 50px;
}

.hero-section .hero-5 .lower-section .top-instructors .instructor {
  width: 244px;
  height: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.hero-section .hero-5 .lower-section .top-instructors .instructor .name-sub {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section
  .hero-5
  .lower-section
  .top-instructors
  .instructor
  .name-sub
  span:nth-child(1) {
  font-size: 17px;
  font-weight: 500;
}

.hero-section
  .hero-5
  .lower-section
  .top-instructors
  .instructor
  .name-sub
  span:nth-child(2) {
  font-size: 16px;
  color: var(--gray-400);
}

.hero-section .hero-5 .lower-section .top-instructors .instructor .rating-std {
  margin-top: 10px;
  display: flex;
  margin-top: 20px;
}

.hero-section
  .hero-5
  .lower-section
  .top-instructors
  .instructor
  .rating-std
  .rating {
  margin-right: 20px;
}

.hero-section
  .hero-5
  .lower-section
  .top-instructors
  .instructor
  .rating-std
  .stds {
  margin-left: 20px;
}

.hero-section
  .hero-5
  .lower-section
  .top-instructors
  .instructor
  .rating-std
  .stds
  span:nth-child(2) {
  color: var(--gray-400);
}

.hero-section .hero-5 .lower-section p {
  color: var(--gray-700);
}

.hero-section .hero-5 .lower-section p span {
  color: var(--orange-500);
}

/* footer section start here */

footer .first-footer {
  height: 384px;
  transform: translateY(500px);
  display: flex;
}

footer .first-footer .info {
  margin-left: 80px;
  width: 424px;
  height: 130px;
  margin-top: 40px;
}

footer .first-footer .info h2 {
  margin-bottom: 30px;
}

footer .first-footer .info p {
  font-size: 14px;
  width: 312px;
  height: 66px;
}

footer .first-footer .platform {
  display: flex;
  flex-wrap: wrap;
}

footer .first-footer .platform .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer .sec-footer {
  transform: translateY(440px);
  height: 376px;
  background-color: var(--gray-900);
}

footer .sec-footer .content {
  position: absolute;
  width: 536px;
  height: 176px;
  display: flex;
  margin-left: 80px;
  margin-top: 80px;
  flex-direction: column;
  color: var(--gray-00);
}

footer .sec-footer .content h2 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 32px;
}

footer .sec-footer .content .btns {
  height: 48px;
  width: 381px;
  display: flex;
  justify-content: space-between;
}

footer .sec-footer .content .btns button:nth-child(1) {
  width: 168px;
  color: var(--gray-00);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--orange-500);
  border: none;
}

footer .sec-footer .content .btns button:nth-child(2) {
  width: 197px;
  color: var(--gray-00);
  font-weight: 500;
  font-size: 16px;
  background-color: var(--gray-800);
  border: none;
}

footer .sec-footer .fun-fact {
  position: absolute;
  width: 648px;
  height: 82px;
  margin-top: 120px;
  transform: translateX(800px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer .sec-footer .fun-fact .fact {
  display: flex;
  flex-direction: column;
}

footer .sec-footer .fun-fact .fact span {
  color: var(--gray-00);
}

footer .sec-footer .fun-fact .fact span:nth-child(1) {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

footer .sec-footer .fun-fact .fact span:nth-child(2) {
  color: var(--gray-400);
}

footer .sec-footer .indicator-line {
  position: absolute;
  bottom: 50px;
  opacity: 0.2;
  background-color: var(--gray-100);
}

footer .third-footer {
  transform: translateY(400px);
  height: 480px;
  background-color: var(--gray-900);
}

footer .third-footer .container {
  margin-left: 80px;
  position: absolute;
  height: 182px;
  width: 1320px;
  margin-top: 80px;
  display: flex;
}

footer .third-footer .container .eduguard {
  width: 384px;
  display: flex;
  flex-direction: column;
}

footer .third-footer .container .eduguard .logo-info p {
  color: var(--gray-400);
  padding-right: 40px;
  margin-top: 20px;
}

footer .third-footer .container .eduguard .logo-info .logo {
  color: var(--gray-00);
  font-weight: 500;
  font-size: 32px;
}

footer .third-footer .container .eduguard .social-media {
  display: flex;
  transform: translateX(-10px);
  margin-top: 20px;
}

footer .third-footer .container .eduguard .social-media .logo {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding-top: 5px;
  background-color: var(--gray-800);
}

footer .third-footer .container .eduguard .social-media .logo:nth-child(3) {
  background-color: var(--orange-500);
  box-shadow: var(--orange-500) 0px 8px 24px;
}

footer .third-footer .container .explore,
footer .third-footer .container .quick-link,
footer .third-footer .container .support {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

footer .third-footer .container .explore span,
footer .third-footer .container .quick-link span,
footer .third-footer .container .support span,
footer .third-footer .container .download-app span {
  color: var(--gray-00);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 30px;
}

footer .third-footer .container .explore ul li,
footer .third-footer .container .quick-link ul li,
footer .third-footer .container .support ul li {
  color: var(--gray-400);
  list-style: none;
  transform: translateX(-30px);
  margin-bottom: 10px;
  font-size: 14px;
}

footer .third-footer .container .quick-link li:nth-child(3) {
  content: " ";
  background-color: var(--orange-500);
  width: 95%;
  height: 1.4px;
  margin-bottom: 3px;
}

footer .third-footer .container .download-app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}

footer .third-footer .container .download-app .logo {
  width: 163px;
  height: 58px;
  background-color: var(--gray-800);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .third-footer .container .download-app .logo img {
  margin-top: 14px;
  margin-left: 14px;
  margin-right: 0;
}

footer .third-footer .container .download-app .logo .text {
  display: flex;
  flex-direction: column;
  transform: translateX(-20px);
}

footer .third-footer .container .download-app .logo .text span:nth-child(1) {
  flex-wrap: nowrap;
  color: var(--gray-400);
  font-size: 9px;
  margin-top: 10px;
}

footer .third-footer .container .download-app .logo .text span:nth-child(2) {
  font-size: 14px;
  transform: translateY(-28px);
}

footer .third-footer .indicator-line {
  transform: translateY(400px);
  opacity: 0.2;
}

footer .third-footer .copyright-lang {
  transform: translateY(430px);
  margin-left: 90px;
  width: 1320px;
  display: flex;
  justify-content: space-between;
}

footer .third-footer .copyright-lang span {
  color: var(--gray-400);
  font-size: 14px;
}

footer .third-footer .copyright-lang span span {
  color: var(--gray-00);
}

footer .third-footer .copyright-lang .language {
  font-size: 18px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  width: 150px;
  height: 40px;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
  margin-right: 80px;
}

footer .third-footer .copyright-lang .language .transparent {
  padding-right: 70px; /* Space for the icon */
}
