:root {
  --bg-gray-900: #1d2026;
  --bg-gray-800: #363b47;
  --gray-700: #4e5566;
  --gray-600: #6e7485;
  --gray-500: #8c94a3;
  --gray-400: #a1a5b3;
  --gray-300: #b7bac7;
  --gray-200: #ced1d9;
  --gray-100: #e9eaf0;
  --gray-50: #f5f7fa;
  --gray-00: #ffffff;
  --orange-900: #33140b;
  --orange-800: #662916;
  --orange-900: #993d20;
  --orange-900: #cc522b;
  --orange-900: #ff6636;
  --orange-900: #ff855e;
  --orange-900: #ffa386;
  --orange-900: #ffddd1;
  --orange-900: #ffeee8;
  --blue-900: #111033;
  --blue-800: #222065;
  --blue-700: #342f98;
  --blue-600: #453fca;
  --blue-500: #564ffd;
  --blue-400: #7872fd;
  --blue-300: #9a95fe;
  --blue-200: #cdcbfe;
  --blue-100: #ebebff;
  --green-900: #07260a;
  --green-800: #0e4c14;
  --green-700: #15711f;
  --green-600: #1c9729;
  --green-500: #23bd33;
  --green-400: #4fca5c;
  --green-300: #7bd785;
  --green-200: #c3e5c6;
  --green-100: #e1f7e3;
  --warning-900: #331d06;
  --warning-800: #65390c;
  --warning-700: #985613;
  --warning-600: #cc7319;
  --warning-500: #fd8e1f;
  --warning-400: #fda44c;
  --warning-300: #febb79;
  --warning-200: #fed1a5;
  --warning-100: #fff2e5;
  --danger-900: #2d0e0e;
  --danger-800: #5b1b1b;
  --danger-700: #882929;
  --danger-600: #b63636;
  --danger-500: #e34444;
  --danger-400: #e96969;
  --danger-300: #ee8f8f;
  --danger-200: #f4c8c8;
  --danger-100: #fff0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item {
  list-style-type: none;
}

.upper {
  width: 52px;
}
