.hero-section .hero-1 {
  height: 621px;
  position: static;
}

.hero-section .hero-1 .best-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

.hero-section .hero-1 .best-courses h2 {
  position: relative;
  top: 65px;
  height: 48px;
  font-size: 44px;
  font-weight: 650;
  align-items: center;
}

.hero-section .hero-1 .best-courses .best-course-container {
  display: grid;
  grid-template-columns: 244px 244px 244px 244px 244px;
  gap: 25px;
  margin-top: 120px;
  height: 691px;
  width: 1320px;
  margin-left: 40px;
}

.hero-section .hero-1 .best-courses .best-course-container .course-item {
  width: 244px;
  height: 333px;
  background-color: var(--gray-00);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .discription {
  margin-top: 14px;
  font-size: 16px;
  height: 72px;
  display: flex;
  flex-direction: column;
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .discription
  .cat-cost,
.cat-cost {
  display: flex;
  justify-content: space-between;
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .discription
  .cat-cost
  .cat,
.cat,
.cat-cost .cat {
  width: auto;
  padding: 5px;
  height: 20px;
  background-color: var(--orange-100);
  border-radius: 3px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .discription
  .cat-cost
  .cost,
.cat-cost .cost {
  height: 22px;
  width: 30px;
  font-weight: 500;
  font-size: 14px;
  color: var(--orange-500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .discription
  p {
  margin-top: 8px;
  font-size: 14px;
  color: var(--gray-900);
  font-weight: 500;
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .indicator-line,
.indicator-line {
  content: " ";
  width: 100%;
  height: 1px;
  transform: translateY(10px);
  background-color: var(--gray-100);
  border-radius: 4px;
}

.hero-section
  .hero-1
  .best-courses
  .best-course-container
  .course-item
  .rating-std-number,
.rating-std-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  margin-top: 20px;
  color: var(--gray-700);
  font-weight: 500;
  font-size: 14px;
}

.rating-std-number .std-number span:nth-child(2) {
  color: var(--gray-500);
}

.hero-section .popular-tools {
  margin-left: 100px;
  height: 350px;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-section .popular-tools .arrows {
  margin-left: 530px;
}

.hero-section .popular-tools .arrows img:nth-child(1) {
  transform: rotate(180deg);
}

.hero-section .popular-tools .arrows img {
  color: var(--gray-400);
}

.hero-section .popular-tools .tools {
  grid-column: 1 / span 2;
  display: flex;
}

.hero-section .popular-tools .tools .tool {
  width: 200px;
  height: 94px;
  display: flex;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.05) 0px 0px 0px 1px;
}

.hero-section .popular-tools .tools .tool:nth-child(5) {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero-section .popular-tools .tools .tool span:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
  color: var(--gray-900);
}

.hero-section .popular-tools .tools .tool span:nth-child(2) {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-400);
}

.hero-section .popular-tools .tags {
  grid-column: 1 / span2;
  margin-top: 50px;
  display: flex;
}

.hero-section .popular-tools .tags span {
  font-weight: 400;
  margin-right: 20px;
}

.hero-section .popular-tools .tags .tag-row {
  display: flex;
  width: 1000px;
  height: 32px;
}

.hero-section .popular-tools .tags .tag-row span {
  font-size: 14px;
  padding: 0px 8px;
  width: auto;
  margin-right: 10px;
  height: 32px;
  background-color: var(--gray-50);
  border-radius: 3px;
  display: grid;
  place-items: center;
}

.hero-section .popular-tools .tags .tag-row span:nth-child(4) {
  background-color: var(--orange-500);
  color: var(--gray-00);
}

.hero-section .hero-2 {
  height: 580px;
  width: 100%;
  background-color: var(--gray-50);
  box-shadow: none;
}

.hero-section .hero-2 h2 {
  margin-bottom: 40px;
  transform: translateY(60px);
}

.hero-section .hero-2 .popular-instructor {
  margin-top: 100px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 244px 244px 244px 244px 244px;
  gap: 25px;
  margin-bottom: 50px;
  box-shadow: none;
}

.hero-section .hero-2 .popular-instructor .instructor {
  width: 244px;
  height: 362px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-00);
}

.hero-section .hero-2 .popular-instructor .instructor .name-sub {
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section
  .hero-2
  .popular-instructor
  .instructor
  .name-sub
  span:nth-child(1) {
  font-size: 17px;
  font-weight: 500;
}

.hero-section
  .hero-2
  .popular-instructor
  .instructor
  .name-sub
  span:nth-child(2) {
  font-size: 16px;
  color: var(--gray-400);
}

.hero-section .hero-2 .popular-instructor .instructor .rating-std {
  margin-top: 10px;
  display: flex;
  margin-top: 20px;
}

.hero-section .hero-2 .popular-instructor .instructor .rating-std .rating {
  margin-right: 20px;
}

.hero-section .hero-2 .popular-instructor .instructor .rating-std .stds {
  margin-left: 20px;
}

.hero-section
  .hero-2
  .popular-instructor
  .instructor
  .rating-std
  .stds
  span:nth-child(2) {
  color: var(--gray-400);
}

.hero-section .hero-2 p {
  color: var(--gray-700);
}

.hero-section .hero-2 p span {
  color: var(--orange-500);
}

.course-container {
  height: 2846px;
}

.course-container .filter {
  height: 110px;
  width: 1320px;
  align-items: center;
  margin-top: 60px;
  margin-left: 100px;
}

.course-container .filter .top {
  display: flex;
  justify-content: space-between;
  height: 48px;
}

.course-container .filter .top .left {
  display: flex;
}

.course-container .filter .top .left button {
  width: 167px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--orange-200);
  background: transparent;
  padding: 8px;
  font-weight: 500;
}

.course-container .filter .top .left button span {
  width: 20px;
  height: 24px;
  margin-top: 3px;
  margin-right: 28px;
  background-color: var(--orange-100);
  color: var(--orange-500);
}

.course-container .filter .top .left .search-div {
  width: 424px;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
  margin-left: 20px;
}

.course-container .filter .top .left .search-div input {
  width: 100%;
  border: none;
}

.course-container .filter .top .left .search-div img {
  font-size: 18px;
  margin: 10px;
  margin-left: 20px;
}

.course-container .filter .top .right {
  display: flex;
  align-items: center;
}

.course-container .filter .top .right span {
  color: var(--gray-700);
  margin-right: 20px;
  font-size: 18px;
}

.course-container .filter .top .right .browse {
  font-size: 18px;
  display: flex;
  padding-left: 16px;
  align-items: center;
  width: 200px;
  height: 48px;
  border: 1px solid var(--gray-100);
  border-radius: 2px;
}

.course-container .filter .top .right .browse .transparent {
  padding-right: 110px; /* Space for the icon */
}

.course-container .filter .down {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-container .filter .down .left span {
  color: var(--orange-500);
  margin-right: 8px;
}

.course-container .filter .down .left span:nth-child(1) {
  color: var(--gray-900);
}

.course-container .filter .down .right span:nth-child(2) {
  color: var(--gray-700);
}

.course-container .courses {
  width: 1320px;
  height: 2448px;
  margin-left: 100px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.course-container .courses .course {
  width: 312px;
  height: 388px;
}
